.cardWrapper {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cardWrapper:hover .card {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.cardContent {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.cardWrapper:hover .cardContent {
    opacity: 1;
    transform: translateY(0);
}

.bubble {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: orange;
    width: 250px; 
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    &:hover {
        transform: scale(1.05);
    }
    
}

.card {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content */
  border-radius: 50%; /* Make card circular as well */
  background-color: transparent; 
}

/* Random positioning */
.bubble:nth-child(2) { top: 120px; margin-left: 800px; }
.bubble:nth-child(3) { top: 500px; margin-right: 800px; }
.bubble:nth-child(4) { top: 500px; margin-left: 800px; }
.bubble:nth-child(5) { top: 500px; margin-left: 800px; }
.bubble:nth-child(6) { top: 500px; margin-left: 800px; }

.detailCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    z-index: 1000;
    max-width: 600px;
    width: 90%;
    overflow-y: auto;
    max-height: 80vh;
}
